In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("../Datasets/Lazaro/Dados observações visuais/dados_observacoes_lazaro.csv")

In [12]:
df.Date = pd.to_datetime(df.Date)

In [13]:
df = df.set_index(['Date'])

In [14]:
df

,Animal,Comportamento,SensorID,Piquete,Altura real,Altura esperada,Season
Date,,,,,,,
2019-11-09 09:23:41,85,Pastejando,434138,11,25.2,25,spring
2019-11-09 09:23:57,90,Ocio,434137,11,25.2,25,spring
2019-11-09 09:27:06,85,Ocio,434138,11,25.2,25,spring
2019-11-09 09:27:34,85,Agua,434138,11,25.2,25,spring
2019-11-09 09:28:21,85,Ocio,434138,11,25.2,25,spring
...,...,...,...,...,...,...,...
2020-06-30 16:56:08,81,Ocio,434137,1,10.3,10,fall
2020-06-30 17:06:21,81,Pastejando,434137,1,10.3,10,fall
2020-06-30 17:07:27,84,Pastejando,434136,1,10.3,10,fall
2020-06-30 17:28:25,81,Ocio,434137,1,10.3,10,fall
2020-06-30 17:29:28,81,Pastejando,434137,1,10.3,10,fall

In [6]:
df.Animal.value_counts()

95     1274
93     1249
81     1131
84      915
21      686
22      683
90      498
105     393
85      227
Name: Animal, dtype: int64

In [34]:
animais = df.Animal.value_counts().keys().to_list()

In [25]:
for animal in animais:
    df_temp = df[df['Animal'] == animal]
    new_df = pd.DataFrame(dtype='datetime64[ns]', columns=df_temp.columns)
    lista_de_datas = np.unique(df_temp.index.date)
    for data in lista_de_datas:
        temp = pd.DataFrame(pd.date_range(start=df_temp.loc[data.isoformat()].index[0], end=df_temp.loc[data.isoformat()].index[-1], freq='5min'))
        new_df = pd.concat([new_df, temp])
    new_df = new_df.set_index([0])
    new_df['Animal'] = animal
    i = 0
    for date in new_df.index:
        found_interval = False
        while(not(found_interval)):
            if(date >= df_temp.index[i] and date < df_temp.index[i+1]):
                new_df.loc[date] = df_temp.iloc[i]
                found_interval = True
            else:
                i +=1
    new_df.to_csv('animal_' + str(animal) + '.csv')

In [57]:
f = open("resultados5em5.txt", "a")
f.write("5 em 5 minutos\n\n")
for animal in animais:
    df_temp = pd.read_csv('animal_' + str(animal) + '.csv')
    
    f.write(f"Animal {animal}:\n\n" +
            str(df_temp.Comportamento.value_counts(normalize=True)*100) +'\n\n')
f.close()

In [58]:
f = open("resultadosSegundoemSegundo.txt", "a")
f.write("Segundo em segundo\n\n")
for animal in animais:
    df_temp = pd.read_csv('animal_' + str(animal) + '.csv')
    
    f.write(f"Animal {animal}:\n\n" +
            str(df_temp.Comportamento.value_counts(normalize=True)*100) +'\n\n')
f.close()

# Testes prévios

In [103]:
df[df['Animal'] == 95]

,Animal,Comportamento,SensorID,Piquete,Altura real,Altura esperada,Season
Date,,,,,,,
2019-12-15 07:51:40,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 08:00:15,95,Ocio,434137,6,17.5,20,spring
2019-12-15 08:06:08,95,Locomovendo,434137,6,17.5,20,spring
2019-12-15 08:06:28,95,Ocio,434137,6,17.5,20,spring
2019-12-15 08:23:45,95,Ocio,434137,6,17.5,20,spring
...,...,...,...,...,...,...,...
2020-06-18 17:23:04,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:24:59,95,Outros,434136,10,14.6,15,fall
2020-06-18 17:26:56,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:34:38,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:09,95,Ruminando,434136,10,14.6,15,fall

In [104]:
df.loc['2019-12-19']

,Animal,Comportamento,SensorID,Piquete,Altura real,Altura esperada,Season
Date,,,,,,,
2019-12-19 07:23:00,93,Pastejando,434136,10,22.05,25,spring
2019-12-19 07:23:00,21,Pastejando,434139,8,24.27,25,spring
2019-12-19 07:23:00,22,Pastejando,434138,8,24.27,25,spring
2019-12-19 07:27:00,93,Ocio,434137,10,22.05,25,spring
2019-12-19 07:33:40,93,Outros,434136,10,22.05,25,spring
...,...,...,...,...,...,...,...
2019-12-19 17:48:55,21,Ocio,434139,8,24.27,25,spring
2019-12-19 17:51:40,93,Ocio,434137,10,22.05,25,spring
2019-12-19 17:51:40,93,Ocio,434136,10,22.05,25,spring
2019-12-19 17:52:58,21,Pastejando,434139,8,24.27,25,spring
2019-12-19 17:58:30,21,Ocio,434139,8,24.27,25,spring

In [26]:
df_95 = df[df['Animal'] == 95]

In [13]:
lista_de_datas_95 = np.unique(df_95.index.date)

In [244]:
dt.isoformat()

'2019-12-15'

In [265]:
new_df_95 = pd.DataFrame(dtype='datetime64[ns]', columns=df_95.columns)
for data in lista_de_datas_95:
    temp = pd.DataFrame(pd.date_range(start=df_95.loc[data.isoformat()].index[0], end=df_95.loc[data.isoformat()].index[-1], freq='S'))
    new_df_95 = pd.concat([new_df_95, temp])
new_df_95 = new_df_95.set_index([0])
new_df_95['Animal'] = 95

In [304]:
df_95

,Animal,Comportamento,SensorID,Piquete,Altura real,Altura esperada,Season
Date,,,,,,,
2019-12-15 07:51:40,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 08:00:15,95,Ocio,434137,6,17.5,20,spring
2019-12-15 08:06:08,95,Locomovendo,434137,6,17.5,20,spring
2019-12-15 08:06:28,95,Ocio,434137,6,17.5,20,spring
2019-12-15 08:23:45,95,Ocio,434137,6,17.5,20,spring
...,...,...,...,...,...,...,...
2020-06-18 17:23:04,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:24:59,95,Outros,434136,10,14.6,15,fall
2020-06-18 17:26:56,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:34:38,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:09,95,Ruminando,434136,10,14.6,15,fall

In [303]:
new_df_95

,Animal,Comportamento,SensorID,Piquete,Altura real,Altura esperada,Season
0,,,,,,,
2019-12-15 07:51:40,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 07:51:41,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 07:51:42,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 07:51:43,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 07:51:44,95,Pastejando,434137,6,17.5,20,spring
...,...,...,...,...,...,...,...
2020-06-18 17:38:05,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:06,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:07,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:08,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:09,95,Ruminando,434136,10,14.6,15,fall

In [288]:
new_df_95.iloc[1]

Animal                     95
Comportamento      Pastejando
SensorID               434137
Piquete                     6
Altura real              17.5
Altura esperada            20
Season                 spring
Name: 2019-12-15 07:51:41, dtype: object

In [301]:
i = 0
for date in new_df_95.index:
    if(date >= df_95.index[i] and date < df_95.index[i+1]):
        new_df_95.loc[date] = df_95.iloc[i]
    else:
        new_df_95.loc[date] = df_95.iloc[i+1]
        i +=1

In [311]:
new_df_95.index.names = ['Date']

In [312]:
new_df_95

,Animal,Comportamento,SensorID,Piquete,Altura real,Altura esperada,Season
Date,,,,,,,
2019-12-15 07:51:40,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 07:51:41,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 07:51:42,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 07:51:43,95,Pastejando,434137,6,17.5,20,spring
2019-12-15 07:51:44,95,Pastejando,434137,6,17.5,20,spring
...,...,...,...,...,...,...,...
2020-06-18 17:38:05,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:06,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:07,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:08,95,Ocio,434136,10,14.6,15,fall
2020-06-18 17:38:09,95,Ruminando,434136,10,14.6,15,fall

In [317]:
compression_opts = dict(method='zip', archive_name='animal_95.csv')

In [318]:
new_df_95.to_csv('animal_95.zip', compression=compression_opts)

In [ ]:
for animal in animais:
    df_temp = df[df['Animal'] == animal]
    new_df = pd.DataFrame(dtype='datetime64[ns]', columns=df_temp.columns)
    lista_de_datas = np.unique(df_temp.index.date)
    for data in lista_de_datas:
        temp = pd.DataFrame(pd.date_range(start=df_temp.loc[data.isoformat()].index[0], end=df_temp.loc[data.isoformat()].index[-1], freq='5min'))
        new_df = pd.concat([new_df, temp])
    new_df = new_df.set_index([0])
    new_df['Animal'] = animal
    i = 0
    for date in new_df.index:
        found_interval = False
        while(not(found_interval)):
            if(date >= df_temp.index[i] and date < df_temp.index[i+1]):
                new_df.loc[date] = df_temp.iloc[i]
                found_interval = True
            else:
                i +=1
    new_df.to_csv('animal_' + str(animal) + '.csv')